* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	width: 100%;
	height: 125px;
	border-bottom: 1px solid black;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 5;
	background-color: white;
}

header h1 {
	display: flex;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: MediumAquamarine;
}

#logoarea {
	margin-left: 60px;
	height: 125px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#logoarea h1 {
	margin-left: 10px;	
}

nav {
	display: flex;
	height: 125px;
	width: 400px;
	align-items: center;
	justify-content: center;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-right: 30px;
}

nav li a {
	text-decoration: underline;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
}

nav li a:hover {
	text-decoration: none;
	opacity: 1;
}

#main {
	width: 100%;
	height: 1715px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-start;
}

#large {
	width: 630px;
	height: 1215px;
	margin-top: 160px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#largepic {
	width: 630px;
	height: 300px;
	position: relative;
	text-align: center;
	margin-left: -1px;
}

#largepic h1 {
	color: white;
	font-size: 40px;
	position: absolute;
	margin-top: -225px;
	margin-left: 70px;
}

#largetext {
	width: 630px;
	height: 260px; 
}

#largetext p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	padding-top: 20px;
}

#largetextpartone {
	height: 255px;
	width: 300px;
	margin-right: 30px;
}

#largetextpartone h1 {
	font-family: Georgia;
	font-size: 32px;
	font-weight: bold;
}

#largetextpartone p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	padding-top: 20px;
}

#largetextparttwo {
	height: 255px;
	width: 300px;
}

#largetextparttwo h1 {
	font-family: Georgia;
	font-size: 32px;
	font-weight: bold;
}

#largetextparttwo p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	padding-top: 20px;
}

#largetextpicone {
	height: 300px;
	width: 300px;
	margin-right: 30px;
	margin-top: 30px;
	position: relative;
	text-align: center;
	margin-left: -1px;
}

#largetextpicone h1 {
	position: absolute;
	margin-top: -200px;
	color: white;
}

#largetextpictwo {
	height: 300px;
	width: 300px;
	margin-top: 30px;
	position: relative;
	text-align: center;
	margin-left: -1px;
}

#largetextpictwo h1 {
	position: absolute;
	margin-top: -200px;
	color: white;
}

#medium {
	width: 300px;
	height: 1090px;
	margin-top: 160px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#mediumtext {
	width: 300px;
	height: 435px;
}

#mediumtext h1 {
	font-family: Georgia;
	font-size: 32px;
	font-weight: bold;
	margin-top: -7px;
}

#mediumtext p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	padding-top: 20px;
}

#mediumtextpic {
	width: 300px;
	height: 300px;
	margin-top: 30px;
	position: relative;
	text-align: center;
	margin-left: -1px;
}

#mediumtextpic h1 {
	position: absolute;
	margin-top: -190px;
	color: white;
}

#mediumlowertext {
	width: 300px;
	height: 280px;
	margin-top: 30px;
}

#mediumlowertext p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
	margin-top: -15px;
}

#small {
	width: 240px;
	height: 600px;
	margin-top: 160px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#smallpic {
	width: 240px;
	height: 240px;
}

#smallheading {
	width: 240px;
	height: 30px;
	text-align: center;
}

#smallheading h1 {
	font-size: 20px;
	font-weight: bold;
}

#smalllist {
	width: 240px;
	height: 280px;
	margin-top: 30px;
}

#smalllist ul {
  list-style-type: none;
}

#smalllist li {
	border-bottom: 1px solid black;
	background-color: #e6e6e6;
	padding-top: 20px;
	padding-left: 10px;
}

#smalllist li p {
	padding-bottom: 15px;
	font-family: Raleway, sans-serif;
	font-size: 14px;
	padding-left: 10px;
}

#smalllist li p:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	height: 350px;
	background-color: MediumAquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footercontent {
	height: 100px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#footerheading {
	height: 20px;
	width: 105px;
	border-right: 2px solid white;
	margin-top: 20px;
	padding-left: 20px;
}

#footerheading h2 {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#footernav {
	margin-left: 0px;
	height: 30px;
	width: 246px;
}

#footernav ul {
	list-style-type: none;
	margin-top: 20px;
}

#footernav ul li {
	display: inline;
}

#footernav ul li a {
	text-decoration: underline;
	font-family: Verdana;
	font-size: 12px;
	color: black;
	margin-left: 22px;
	opacity: 0.8;
}

#footernav ul li a:hover {
	text-decoration: none;
	opacity: 1;
}


#footerrights {
	height: 50px;
	width: 400px;
	text-align: center;
}

#footerrights {
	text-decoration: underline;
	font-family: Verdana;
	font-size: 12px;
	color: black;
	padding-top: 20px;
}
